html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap');

@media (max-width: 600px) {
	html {
		overflow-x: hidden;
	}
	body {
		
		box-sizing: border-box;
		font-family: 'Roboto', sans-serif;
		
		/* background: no-repeat;
		background-image: url(./images/background.jpg);
		background-position: cover;
		background-size: cover; */
		font-size: 1.7rem;
		display: flex;
		flex-direction: column;
		gap: 16vh;
		overflow-x: hidden;
	}

	.intro {
		padding: 5vh 7vw;
		display: block;
	}
	.text-over-image > img {
		margin: auto;
  		display: block;
		max-height: 100%;
		width: 72vw;
	}

	.text-over-image > h1 {
		position: relative;
		font-family: 'Playfair Display', serif;
		color: white;
		top: -10vh;
		left: 11vw;
		font-size: 4rem;
	}

	h2 {
		font-family: 'Playfair Display', serif;
		font-size: 3rem;
		color: rgb(43, 43, 43);
		text-align: center;
		margin-bottom: 3vh;
	}

	.about-me > p {
		line-height: 3rem;
	}
	.intro-contact {
		text-align: center;
	}
	.intro-contact > img {
		max-height: 100%;
		width: 45px;
		
	}

	.project {
		padding: 5vh 7vw;
		display: flex;
		flex-direction: column;
		gap: 17vh;
	}

	.work {
		display: block;
		border: 2px solid black;
		height: 80vh;
		box-shadow: 2px 5px 5px rgb(107, 107, 107);
	}

	.work img {
		max-width: 100%;
	}

	.header-icons {
		display: flex;
	}

	h3 {
		font-family: 'Playfair Display', serif;
		font-size: 2.5rem;
	}

	.inner-text {
		display: flex;
		flex-direction: column;
		gap: 10px;
		padding: 3vh 5vw;
		
	}

	.contacts {
		color: white;
		padding: 5vh 7vw;
		background-color: rgb(0, 153, 255);
	}

	.contacts h1 {
		margin-bottom: 3vh;
		font-size: 4rem;
		font-family: 'Playfair Display', serif;
	}

	.long-text {
		font-size: 2rem;
		margin-bottom: 4vh;
	}

	.address {
		font-size: 1.3rem;
		margin-bottom: 4vh;
	}

}

@media (min-width: 601px) {
	
	body {
		
		box-sizing: border-box;
		font-family: 'Roboto', sans-serif;
		
		font-size: 1.7rem;
		display: flex;
		flex-direction: column;
		gap: 16vh;
		overflow-x: hidden;
	}

	.white-background {
		padding: 5vh 7vw;
	}
	.intro {
		
		display: flex;
		align-items: center;
		
	}

	.text-over-image {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.text-over-image > img {
		margin: auto;
		max-height: 100%;
		width: 25vw;
		
	}

	.text-over-image > h1 {
		flex: 0;
		position: relative;
		font-family: 'Playfair Display', serif;
		color: white;
		top: -13vh;
		left: 1vw;
		font-size: 7rem;
	}

	.about-me {
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
		padding: 3vh 3vw;
		gap: 3vh;
		box-shadow: 2px 5px 5px rgb(107, 107, 107);
	}

	h2 {
		font-family: 'Playfair Display', serif;
		font-size: 3rem;
		color: rgb(43, 43, 43);
		margin-bottom: 3vh;
		
	}

	.project {
		display: grid;
		gap: 9vw;
		grid-template-columns: 1fr 1fr 1fr;
	}

	.wrapper img {
		max-width: 100%;

	}

	.work {
		display: block;
		border: 2px solid black;
		height: 60vh;
		box-shadow: 2px 5px 5px rgb(107, 107, 107);
	}

	.inner-text {
		display: flex;
		flex-direction: column;
		gap: 10px;
		padding: 3vh 2vw;
		
	}

	h3 {
		font-family: 'Playfair Display', serif;
		font-size: 2.5rem;
	}

	.wrapper {
		max-width: 100%;
		height: 23vh;
		overflow-x:hidden;
		overflow-y: hidden;
	}

	.contacts {
		color: white;
		padding: 5vh 7vw;
		background-color: rgb(0, 153, 255);
	}

	.contacts h1 {
		margin-bottom: 3vh;
		font-size: 4rem;
		font-family: 'Playfair Display', serif;
	}

	.long-text {
		font-size: 2rem;
		margin-bottom: 4vh;
	}

	.address {
		font-size: 1.3rem;
		margin-bottom: 4vh;
	}
}